:root {
  --background-color: #594578;
  --light-color: #f5f6f3;
  --green-color: #6ba28c;
  --pink-color: #bf9aca;
  --blue-color: #4b88a2;

  --gridbox-size: 300px;
  --gridbox-size-half: 150px;
  --grid-gap: 10px;
  /*image is 300px, text box is 600px, total is 900px+5px*/
}

body {
  background-color: var(--background-color);
  font-family: Georgia;

  padding: 0px;
  margin: auto;
  text-align: center;

  color: #6ba28c;
}

/* projects grid */

.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr;
  grid-gap: var(--grid-gap);
  padding: 0px 5px 0px 5px; /* top right bottom left */
}

.grid-item {
  padding: 0px;
  height: var(--gridbox-size);
  width: calc(var(--gridbox-size) * 3 + var(--grid-gap));
  justify-self: center;

  position: relative;
  text-align: center;
}

.grid-item img,
.grid-item .project-info {
  border-radius: 3px;
}

.project-images {
  width: var(--gridbox-size);
  height: var(--gridbox-size);
  
  float: left;
  padding: 0px 0px 0px 0px;
}

.project-info {
  height: var(--gridbox-size);
  width: calc(var(--gridbox-size) * 2);

  float: right;
  padding: 0px 0px 0px 0px;

  color: black;
  text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff;
  background-color: rgba(245, 246, 243, 0.75);
}

/* links */

a:link {
  text-decoration: none;
}

p a {
  color: var(--blue-color);
}

.main-links a:link {
  color: var(--blue-color);
}

.project-links a:link {
  color: var(--background-color);
}

.main-links a:visited {
  color: var(--blue-color);
}

.project-links a:visited {
  color: var(--background-color);
}

.main-links a:hover {
  color: var(--pink-color);
}

.project-links a:hover {
  color: var(--pink-color);
}

/* project-info texts */

.project-info p {
  font-size: 16px;
}

.project-info .date-info {
  font-style: italic;
  font-size: 14px;
}

.project-links {
  font-size: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px; /* needs a specific value to work */
  margin-bottom: 15px; /* height of links above bottom */
}

/* show project text while hovering over the image */
img:hover + .project-info {
  display: block;
}

/* show project text while hovering over itself */
.project-info:hover {
  display: block;
}

/* for the filter buttons */

.btn {
  border: none;
  outline: none;
  background-color: var(--light-color);
  cursor: pointer;
  border-radius: 7px;
  padding: 5px 0px;
  width: 75px;
  font-family: Georgia;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: var(--green-color);
  color: var(--light-color);
}

/* for filtering; showing/hiding divs */

.filter-div {
  display: none;
}

.show {
  display: block;
}

.container {
  overflow: hidden;
}
